<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>WebVault</title>
		<script src="./lib/jquery.min.js"></script>
		<script src="./lib/mustache.min.js"></script>
		<script src="./lib/underscore.min.js"></script>
		<script src="./lib/backbone.min.js"></script>
		<script src="./lib/fuse.min.js"></script>
		<script src="./popup.js"></script>
		<link rel="stylesheet" href="./popup.css">
	</head>
	<body>
		<script type="text/template" id="newvault_template">
			<div class="openvault newvault">
				<div class="header">Welcome to WebVault</div>
				<label for="passphrase">Enter a passphrase to get started. <span class="example">e.g. &ldquo;I&rsquo;m the best 17-year old ever.&rdquo;</span></label>
				<div class="content">
					<form id="passphrase-form">
						<input type="text" id="passphrase" autocomplete="off" autocapitalize="off" spellcheck="false">
						<button type="submit" id="open-vault">Open Vault</button>
					</form>
				</div>
				<div class="errors"></div>
				<div class="help"><a href="http://getvau.lt">What&rsquo;s this?</a></div>
			</div>
		</script>

		<script type="text/template" id="openvault_template">
			<div class="openvault">
				<div class="header">Open your WebVault</div>
				<label for="passphrase">Enter your passphrase</label>
				<div class="content">
					<form id="passphrase-form">
						<div class="passphrase-container">
							<input type="text" id="passphrase" autocomplete="off" autocapitalize="off" spellcheck="false">
							<div class="show">
								<input type="checkbox" id="show-passphrase">
								<label for="show-passphrase">Show passphrase</label>
							</div>
						</div>
						<button type="submit" id="open-vault">Open Vault</button>
					</form>
				</div>
				<div class="errors"></div>
				<div class="help"><a href="http://getvau.lt">What&rsquo;s this?</a></div>
			</div>
		</script>

		<script type="text/template" id="mainmenu_template">
			<div class="mainmenu">
				<div class="header">WebVault</div>
				<ul>
					<li id="preferences"><div class="menubutton">Preferences</div></li>
					<li id="lock-vault"><div class="menubutton">Lock Vault</div></li>
					<li id="sites"></li>
					<li id="autofill"></li>
				</ul>
			</div>
		</script>

		<script type="text/template" id="sitelist_template">
			<div class="menubutton">Sites<div class="expander"></div></div>
			<div class="expand">
				<div class="menuheader">
					<input type="text" id="search" placeholder="Search">
					<button type="button" class="add-site">Add New Site</button>
				</div>
				<ul class="submenu"></ul>
			</div>
		</script>

		<script type="text/template" id="autofill_template">
			<div class="menubutton">Autofill<div class="expander"></div></div>
			<div class="expand"><ul class="submenu"></ul></div>
		</script>

		<script type="text/template" id="site_template">
			<div class="menubutton site">
				{{{name}}}
				<div class="delete" title="Delete site"></div>
				<div class="edit" title="Edit site"></div>
				<div class="copy" title="Copy password to clipboard"></div>
			</div>
		</script>

		<script type="text/template" id="site_confirm_delete_template">
			<div class="menubutton site confirm-delete">
				Are you sure you want to delete this site?
				<button type="button" class="cancel_delete">No</button>
				<button type="button" class="confirm_delete">Yes</button>
			</div>
		</script>

		<script type="text/template" id="preferences_template">
			<div class="preferences">
				<div class="header">WebVault<button type="button" class="back">Back</button></div>
				<div class="content">
					<div class="pref lock-time"><input type="checkbox" id="enable-lock-time">Lock vault after <input type="number" min="1" id="lock-time"> minutes inactive</div>
					<div class="pref json-import-export">
						<div class="pref-title">JSON Import/Export:</div>
						<button type="button" class="import">Import</button><button type="button" class="export">Export</button>
						<div class="json-import-export-display"></div>
					</div>
					<div class="pref remotestorage-sync">
						<div class="pref-title">RemoteStorage Sync:</div>
						<button type="button" class="import">Import</button><button type="button" class="export">Export</button>
						<div class="remotestorage-sync-display"></div>
					</div>
					<div class="pref erase-data">
						<div class="pref-title">Erase Data:</div>
						<button type="button" class="erase">Erase</button>
						<div class="erase-data-display"></div>
					</div>
				</div>
				<div class="save-button-container">
					<button type="button" class="save-button">Save Preferences</button>
				</div>
			</div>
		</script>

		<script type="text/template" id="preferences_json_import_export_none_template">
			{{#json_import_export_message}}
				<div class="pref-message">{{{json_import_export_message}}}</div>
			{{/json_import_export_message}}
		</script>

		<script type="text/template" id="preferences_json_import_template">
			<div class="json-import">
				<textarea class="import-data">{{{json_import_export_data}}}</textarea>
				<div class="pref-desc">Input the saved export data above,<br>then click here: <button class="do-import">Do Import</button></div>
				{{#json_import_export_error}}
					<div class="pref-error">{{{json_import_export_error}}}</div>
				{{/json_import_export_error}}
			</div>
		</script>

		<script type="text/template" id="preferences_json_export_template">
			<div class="json-export">
				<textarea class="export-data">{{{json_import_export_data}}}</textarea>
				<div class="pref-desc">Copy and save the output above</div>
			</div>
		</script>

		<script type="text/template" id="preferences_remotestorage_sync_none_template">
			{{#remotestorage_sync_message}}
				<div class="pref-message">{{{remotestorage_sync_message}}}</div>
			{{/remotestorage_sync_message}}
		</script>

		<script type="text/template" id="preferences_remotestorage_sync_import_template">
			<div class="remotestorage-sync-import">
				<input class="remotestorage-address" value="{{{remotestorage_sync_address}}}">
				<div class="pref-desc">Enter your RemoteStorage address above,<br>then click here: <button class="do-import">Do Import</button></div>
				{{#remotestorage_sync_error}}
					<div class="pref-error">{{{remotestorage_sync_error}}}</div>
				{{/remotestorage_sync_error}}
			</div>
		</script>

		<script type="text/template" id="preferences_remotestorage_sync_export_template">
			<div class="remotestorage-sync-export">
				<input class="remotestorage-address" value="{{{remotestorage_sync_address}}}">
				<div class="pref-desc">Enter your RemoteStorage address above,<br>then click here: <button class="do-export">Do Export</button></div>
				{{#remotestorage_sync_error}}
					<div class="pref-error">{{{remotestorage_sync_error}}}</div>
				{{/remotestorage_sync_error}}
			</div>
		</script>

		<script type="text/template" id="preferences_erase_data_confirm_template">
			<div class="erase-data-confirm">
				<div class="pref-desc">This will delete ALL WebVault data. Are you sure you want to do this?</div>
				<button type="button" class="confirm">Yes</button><button type="button" class="cancel">No</button>
			</div>
		</script>

		<script type="text/template" id="editsite_template">
			<div class="editsite">
				<div class="header">WebVault<button type="button" class="back">Back</button></div>
				<div class="content">
					<label for="service-name">Service name <span>e.g. &ldquo;johnsmith@twitter&rdquo;</span></label>
					<input type="text" id="service-name" autocomplete="off" autocapitalize="off" spellcheck="false">

					<label for="service-url">Service domain <span>e.g. &ldquo;twitter.com&rdquo;</span></label>
					<input type="text" id="service-url" autocomplete="off" autocapitalize="off" spellcheck="false">

					<label for="username">Username <span>e.g. &ldquo;johnsmith&rdquo;</span></label>
					<input type="text" id="username" autocomplete="off" autocapitalize="off" spellcheck="false">

					<div class="length">
						<label for="gen-length">Password length <span>e.g. 12</span></label>
						<input type="number" min="0" id="gen-length" value="20" autocomplete="off" autocapitalize="off">
					</div>

					<div class="repeat">
						<label for="repetition">Max repetition <span>e.g. 2</span></label>
						<input type="number" min="0" id="repetition" value="" autocomplete="off" autocapitalize="off">
					</div>

					<div class="field">
						<table>
							<thead>
								<tr>
									<td></td>
									<th scope="col">a&ndash;z</th>
									<th scope="col">A&ndash;Z</th>
									<th scope="col">0&ndash;9</th>
									<th scope="col">- / _</th>
									<th scope="col">SPACE</th>
									<th scope="col">!@#$%</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">
										<label for="required">Required</label>
										(<input type="text" id="requiredlen" value="2" autocomplete="off" autocapitalize="off">)
									</th>
									<td><input type="radio" name="lower" value="required"></td>
									<td><input type="radio" name="upper" value="required"></td>
									<td><input type="radio" name="number" value="required"></td>
									<td><input type="radio" name="dash" value="required"></td>
									<td><input type="radio" name="space" value="required"></td>
									<td><input type="radio" name="symbol" value="required"></td>
								</tr>
								<tr>
									<th scope="row">Allowed</th>
									<td><input type="radio" name="lower" value="allowed"></td>
									<td><input type="radio" name="upper" value="allowed"></td>
									<td><input type="radio" name="number" value="allowed"></td>
									<td><input type="radio" name="dash" value="allowed"></td>
									<td><input type="radio" name="space" value="allowed"></td>
									<td><input type="radio" name="symbol" value="allowed"></td>
								</tr>
								<tr>
									<th scope="row">Forbidden</th>
									<td><input type="radio" name="lower" value="forbidden"></td>
									<td><input type="radio" name="upper" value="forbidden"></td>
									<td><input type="radio" name="number" value="forbidden"></td>
									<td><input type="radio" name="dash" value="forbidden"></td>
									<td><input type="radio" name="space" value="forbidden"></td>
									<td><input type="radio" name="symbol" value="forbidden"></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="generator">
						<span class="title">Generated password:</span> <span class="password"></span>
					</div>
					<div class="pageload-autofill">
						<input type="checkbox" id="pageload-autofill">
						<label for="pageload-autofill">Autofill username and password on page load</label>
					</div>
				</div>
				<div class="errors"></div>
				<div class="save-button-container">
					<button type="button" class="save-button">Save Site</button>
				</div>
			</div>
		</script>

		<div id="container"></div>
	</body>
</html>

