
/*-------------------------------------*/
/* General Styles                      */
/*-------------------------------------*/

body, input {
	background: #fff;
	color: #333;
	font: 1rem FreeSans, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#container {
	width: 25rem;
	min-width: 25rem;
	min-height: 10rem;
}

.save-button-container {
	text-align: center;
	padding: 1rem 0.5rem 0.5rem;
}

.header {
	background: #eee url('../img/logo.svg') 0.5rem center/2rem no-repeat;
	font-size: 1.5rem;
	border-bottom: 1px solid #bbb;
	padding: 0.5rem 0 0.5rem 3rem;
}

.header .back {
	float: right;
	margin: 0.1rem 0.8rem 0 0;
	opacity: 0.6;
}
.header .back:hover {
	opacity: 1;
}

button {
	vertical-align: middle;
	display: inline-block;
	padding: 0.2rem 0.6rem 0.2rem;
	margin: 0;
	font-size: 0.8rem;
	line-height: 0.9rem;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-color: #e6e6e6;
	background-image: linear-gradient(to bottom, #efefef, #d7d7d7);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	border-radius: 0.2rem;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	cursor: pointer;

}
button:hover {
	color: #333;
	text-decoration: none;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #fff, #e6e6e6);
}

/*-------------------------------------*/
/* Open Vault Page                     */
/*-------------------------------------*/

.openvault {
	padding: 1rem 1.5rem 0.8rem;
	text-align: center;
}

.openvault .header {
	display: block;
	margin: 0 auto;
	padding-left: 3.5rem;
	background: url('../img/logo.svg') left center/3rem no-repeat;
	width: 9rem;
	font-size: 1.5rem;
	text-align: left;
	border: none;
}

.openvault label {
	display: block;
	color: #555;
	font-size: 1.1rem;
	margin: 1rem 0 0.4rem;
}

.openvault label .example {
	display: block;
	font-size: 0.9rem;
	color: #999;
}

.openvault .content {
	display: block;
}

.openvault .passphrase-container {
	display: inline-block;
}

.openvault #passphrase {
	width: 10rem;
}

.openvault #open-vault {
	vertical-align: top;
	width: 6rem;
}

.openvault .errors {
	display: none;
	padding: 0.5rem;
	border: 1px solid;
	color: #D8000C;
	background-color: #FFBABA;
	margin: 0.5rem auto 0;
	border-radius: 0.3rem;
}

.openvault .help {
	padding: 0.3rem 0 0;
}
.openvault .help a {
	font-size: 0.6rem;
	opacity: 0.6;
	color: rgb(17, 85, 204);
	text-decoration: none;
}
.openvault .help a:hover {
	opacity: 1;
}

.openvault .show {
	padding-top: 0.1rem;
}
.openvault .show label {
	display: inline;
	margin: 0;
	font-size: 0.7rem;
	font-weight: bold;
	vertical-align: middle;
}
.openvault .show input {
	vertical-align: middle;
}

/*-------------------------------------*/
/* Main Menu Page                      */
/*-------------------------------------*/

.mainmenu ul {
	margin: 0;
	padding: 0;
}

.mainmenu ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mainmenu .menubutton {
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	border-bottom: 1px solid #bbb;
	cursor: pointer;
	position: relative;
}
.mainmenu .menubutton:hover {
	background: #eee;
}
.mainmenu li:last-child .menubutton {
	border-bottom: none;
}

.mainmenu li#autofill.disabled .menubutton {
	opacity: 0.5;
	cursor: default;
}

.mainmenu .menubutton .expander {
	position: absolute;
	right: 1rem;
	top: 0.5rem;
}
.mainmenu .menubutton .expander:before {
	content:"\25BC";
}
.mainmenu li.expanded .menubutton .expander:before {
	content:"\25B2";
}

.mainmenu .expand {
	display: none;
}
.mainmenu li.expanded .expand {
	display: block;
}

.mainmenu .menubutton.site div {
	display: inline-block;
	float: right;
	width: 1.2em;
	height: 1em;
	margin: 0 0.15rem;
	background: transparent no-repeat 0.35rem center;
	background-size: 1rem 1rem;
}

.mainmenu .menubutton.site .copy {
	background-image: url('./img/copy.svg');
}

.mainmenu .menubutton.site .edit {
	background-image: url('./img/edit.svg');
}

.mainmenu .menubutton.site .delete {
	background-image: url('./img/delete.svg');
}

.mainmenu .submenu {
	max-height: 12rem;
	overflow-y: scroll;
}
.mainmenu .submenu li .menubutton {
	background: #bbb;
	border-bottom: 1px solid #a0a0a0;
}
.mainmenu .submenu li .menubutton:hover {
	background: #a0a0a0;
}
.mainmenu .submenu li .menubutton .empty {
	opacity: 0.5;
}

.mainmenu .submenu li .menubutton.confirm-delete {
	line-height: 1.4rem;
	font-size: 0.8rem;
	cursor: default;
}
.mainmenu .submenu li .menubutton.confirm-delete:hover {
	background: #bbb;
}
.mainmenu .submenu li .menubutton.confirm-delete button {
	float: right;
}
.mainmenu .submenu li .menubutton.confirm-delete .confirm_delete {
	margin-right: 0.5rem;
}

.mainmenu .menuheader {
	background: #eee;
	border-bottom: 1px solid #a0a0a0;
	padding: 0.3rem 1rem 0.3rem 0.5rem;
	font-size: 1.2rem;
}
.mainmenu .menuheader #search {
	background: #fff url('./img/search.svg') no-repeat 0.35rem center;
	background-size: 1rem 1rem;
	border-radius: 0.2rem;
	padding: 0.2rem 0.3rem 0.2rem 1.7rem;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #ddd;
	width: 12rem;
}
.mainmenu .menuheader .add-site {
	margin-top: 0.1rem;
	width: 7rem;
	float: right;
}

/*-------------------------------------*/
/* Preferences Page                    */
/*-------------------------------------*/

.preferences .content {
	padding: 0.5rem 0.8rem 0;
}

.preferences .pref {
	padding: 0 0 0.8rem;
}

.preferences .pref .pref-title {
	font-weight: bold;
	padding-bottom: 0.3rem;
}

.preferences .pref-desc {
	font-weight: bold;
	text-align: center;
}

.preferences .pref-error {
	margin-top: 0.5rem;
	padding: 0.3rem;
	border: 1px solid #D8000C;
	background-color: #FFBABA;
	color: #D8000C;
}

.preferences .pref-message {
	margin-top: 0.5rem;
	padding: 0.3rem;
	border: 1px solid #00529B;
	background-color: #BDE5F8;
	color: #00529B;
}

.preferences .pref.disabled,
.preferences .pref.disabled input {
	color: #999;
}

.preferences #enable-lock-time {
	margin-right: 0.5rem;
}

.preferences #lock-time {
	width: 2.5rem;
}

.preferences .save-button-container {
	padding-top: 0.4rem;
}

/* JSON Import/Export */

.preferences .json-import-export .pref-title {
	display: inline-block;
}

.preferences .json-import-export-display {
	margin-top: 0.5rem;
}

.preferences .json-import-export button {
	margin: 0 0.3rem 0 0;
}

.preferences .json-import-export .json-import textarea,
.preferences .json-import-export .json-export textarea {
	width: 100%;
	min-height: 100px;
	margin-bottom: 0.5rem;
}

.preferences .json-import-export .json-import button {
	margin-left: 0.5rem;
}

/* RemoteStorage Sync */

.preferences .remotestorage-sync .pref-title {
	display: inline-block;
}

.preferences .remotestorage-sync-display {
	margin-top: 0.5rem;
}

.preferences .remotestorage-sync button {
	margin: 0 0.3rem 0 0;
}

.preferences .remotestorage-sync input {
	width: 100%;
	text-align: center;
	margin-bottom: 0.5rem;
}

.preferences .remotestorage-sync .remotestorage-sync-import button,
.preferences .remotestorage-sync .remotestorage-sync-export button {
	margin-left: 0.5rem;
}

/* Erase Data */

.preferences .erase-data .pref-title {
	display: inline-block;
}

.preferences .erase-data-display {
	margin-top: 0.5rem;
}

.preferences .erase-data button {
	margin: 0 0.3rem 0 0;
}

.preferences .erase-data .erase-data-confirm button {
	margin-top: 0.3rem;
}

.preferences .erase-data .erase-data-confirm .cancel {
	float: right;
}

.preferences .erase-data .erase-data-confirm {
	padding: 0.3rem;
	border: 1px solid #D8000C;
	background-color: #FFBABA;
	color: #D8000C;
}

/*-------------------------------------*/
/* Edit Site Page                      */
/*-------------------------------------*/

.editsite .content {
	padding: 0.5rem 0.8rem 0;
}

.editsite .errors {
	display: none;
	padding: 0.5rem;
	border: 1px solid;
	color: #D8000C;
	background-color: #FFBABA;
	margin: 0.5rem 20px 0;
	border-radius: 3px;
	text-align: center;
}

.editsite label {
	display: block;
	color: #555;
	font-size: 0.9em;
	margin-top: 1em;
}
.editsite label span {
	color: #999;
}

.editsite input[type=password],
.editsite input[type=number],
.editsite input[type=text] {
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #666;
	font-size: 1em;
}

.editsite input[type=password].error
.editsite input[type=number].error,
.editsite input[type=text].error {
	border: 1px solid #D8000C;
	background-color: #FFBABA;
}

.editsite input {
	background: #f4f4f4;
}

.editsite .length,
.editsite .repeat {
	float: left;
	margin-bottom: 1em;
	width: 47%;
}
.editsite .length {
	clear: both;
	margin-right: 6%;
}

.editsite .field {
	clear: both;
}

.editsite .generator {
	margin-top: 1em;
	text-align: center;
}
.editsite .generator .password {
	display: inline-block;
	min-width: 100px;
	font-family: Monaco, Courier New, monospace;
}

.editsite .pageload-autofill {
	margin-top: 0.6em;
	text-align: center;
}
.editsite .pageload-autofill label {
	margin: 0;
	display: inline;
	vertical-align: middle;
}
.editsite .pageload-autofill input {
	vertical-align: middle;
}

.editsite table label {
	display: inline;
}
.editsite table input[type=text] {
	display: inline;
	width: 1em;
}

.editsite table {
	border-collapse: collapse;
	clear: both;
	margin-top: 1em;
	width: 100%;
}
.editsite table label {
	font-size: 1em;
}
.editsite table th,
.editsite table td {
	border-left: 1px solid #ccc;
	padding: 4px 0;
	text-align: center;
}
.editsite table th {
	color: #555;
	font-size: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
	width: 30px;
}
.editsite table thead th {
	text-transform: none;
}
.editsite table thead tr {
	border-bottom: 1px solid #ccc;
}
.editsite table tbody th {
	text-align: left;
}
.editsite table th:first-child,
.editsite table td:first-child {
	border: none;
}
